# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  go: circleci/go@1.5.0
  docker: circleci/docker@1.5.0

jobs:
  test:
    executor:
      name: go/default
      tag: '1.15'
    steps:
      - checkout
      - go/test

  sonar:
    machine: true
    steps:
      - run:
          command: |
            wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-${SONAR_VERSION}-linux.zip
            unzip sonar-scanner-cli-${SONAR_VERSION}-linux.zip
          name: Install SonarQube Scanner
      - run:
          command: |
              ./sonar-scanner-$SONAR_VERSION-linux/bin/sonar-scanner 
               -Dsonar.login=$SONARQUBE_KEY
               -Dsonar.host.url=$SONARQUBE_HOST
               -Dsonar.projectName=$CIRCLE_PROJECT_REPONAME
               -Dsonar.projectKey=$CIRCLE_PROJECT_REPONAME
               -Dsonar.exclusions='**/*_test.go,**/vendor/**,**/testdata/*'
               -Dsonar.go.coverage.reportPaths=coverage.out
               -Dsonar.links.scm="https://github.com/splitio/${CIRCLE_PROJECT_REPONAME}"
          name: Run SonarQube Scanner

  build-push:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check:
          docker-password: ARTIFACTORY_DOCKER_PASS
          docker-username: ARTIFACTORY_DOCKER_USER
          registry: splitio-docker.jfrog.io
      - docker/build:
          registry: splitio-docker.jfrog.io
          image: ${CIRCLE_PROJECT_REPONAME}
      - docker/push:
          registry: splitio-docker.jfrog.io
          image: ${CIRCLE_PROJECT_REPONAME}

  deploy-request:
    machine: true
    steps:
      - run:
          name: Deploy to R2D2 using CURL
          command: |
            curl --header 'Content-Type: application/json' --request PUT --data '{ "service": "$CIRCLE_PROJECT_REPONAME", "environment": "stage", "tag": "$CIRCLE_SHA1", "token": "$SLACK_TOKEN"}' https://r2d2.split-stage.io/deployment

workflows:
  test-job-one:
    jobs:
      - test
      - sonar:
          context:
            - Org
      - build-push:
          context:
            - Org
          requires:
            - test
      - deploy-request:
          requires:
            - build-push
